.Toolbar {
    flex-flow: row nowrap;
    left : 20px;
    border-bottom: 2px solid silver;
}


.Button {
    margin: 10px 10px;
}

.Toggle {
    
}

.Handle {
    float: right;
}

@media(min-width : 700px) {
    .Toggle {
    display: none;
    }
}